<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>NEXUS ID</title>
    <style>
.main-frame {
    background-color: rgb(244, 246, 245);
    padding: 10px 50px;
    position: relative;
    justify-content: center;
}
.main-content {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 15px;
    background-color: transparent
}

.card {
    padding: 0;
    height: 100%; /* Ensure cards take full height */
    margin: 0;
    width: 100%;
}

.card.left {
    padding-right: 0;
    height: 100%;
}

.card.right {
    display: flex;
    flex-direction: column; /* Stack rows vertically */
    gap: 18px;
}

.top-row {
    display: flex; /* Horizontal layout for the top row */
    flex: 1.5; /* Takes 50% of the height of .card.right */
    gap: 18px;
}

.bottom-row {
    display: flex; /* Horizontal layout for the bottom row */
    flex: 1; /* Takes 50% of the height of .card.right */
    gap: 18px;
    margin-bottom: 5px;
}

.mCard {
    background-color: white;
    border-radius: 14px;
    flex: 1; /* Makes each mCard take equal width */
    box-shadow: 0 2px 4px rgba(138, 138, 138, 0.2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 98%;
    flex-direction: column;
    padding: 20px 60px;
    width: 100%;
}
.mCard.long {
    flex: 1.5;
}
.mdCard.short {
    flex: 1;
}
.snav a, .title a {
    padding: 6px 2px;
    color: black;
    border-radius: 25px;
    font-size: 10px;
    height: 20px;
    width: 5px;
}
.nav2 a i {
    font-size: 10px;
}
.title {
    width: 50%;
}
.nav2 {
    height: 7%;
    width: 100%;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(138, 138, 138, 0.2);
    border-radius: 14px;
}
.snav {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 0;
}
.txtPlate {
    padding: 12px 8px;
    border-radius: 22px;
    font-size: 12px;
    background-color: transparent;
}
.uphCard {
    height: 85px;
    width: 85px;
    border: 1px solid gray;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uphCard img {
    width: 80%;
    height: 80%;
    border-radius: 80px;
}
p.txtInfo {
    font-size: 12px;
    margin: 0;
    width: 100%;
    padding: 12px 0;
}
p.txtInfo i {
    font-size: 10px;
}
p.headInfo {
    font-size: 16px;
    font-weight: 500;
    color: green;

}
.headInfo i {
    color: green;
}
p.txtInfo.green {
    color: green;
}
.txtInfo a {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 8px 12px;
    border-radius: 18px;
    transition: all 0.6s ease; /* Smooth transition */
}
a.resetPass:hover {
    transform: scale(1.08);
}
.resetPass-frame {
    position: absolute;
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    z-index: 200;
    background-color: rgb(244, 246, 245);
}
.resetPass-card {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(138, 138, 138, 0.6);
    padding: 20px 40px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
}
.field input {
    width: 100%;
}
.row {
    width: 100%;
    align-items: center;
}
.field {
    width: 100%;
}
.upload-label input {
    display: none; /* Hide the default file input */
}
    </style>
</head>
<body>
    <div class="container">
        <div class="userOption" style="display: none;">
            <a href="/admin/user">Profile <i class="fa-solid fa-user"></i></a><hr>
            <a href="/admin/welcome">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
        <div class="notif-nav" style="display: none;">
            <iframe class="notif-frame" src="/admin/notif" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="info-nav" style="display: none;">
            <iframe class="info-frame" src="/admin/hotline" width="100%" height="100%" frameborder="0"></iframe>
        </div>

        <div class="side-frame">
            <div class="head-nav" style="margin-top: 0;">
                <div class="nav" style="justify-content: flex-start; width: 100%;">               
                    <div class="pnav" style="align-items: flex-start;">
                    <a href="#" id="userIcon" class="userIcon" style=" border: 1px solid gray; border-radius: 50%; box-shadow: none;">
                        <img src="<%= employeeData.userPhoto ? employeeData.userPhoto : '/images/profileX.jpg' %>" onerror="this.onerror=null; this.src='/images/profileX.jpg';" alt="Profile Picture">
                    </a>
                    </div>
                    <div class="snav">
                        <% if (employeeData) { %>
                            <% if (employeeData.role === 'Admin') { %>
                                <p2>Welcome Admin <br>
                                    <fh style="font-size: 20px;"><%= employeeData.firstName %></fh>
                                </p2>
                            <% } else if (employeeData.role === 'HR') { %>
                                <p2>Welcome HR <br>
                                    <fh style="font-size: 20px;"><%= employeeData.firstName %></fh>
                                </p2>
                            <% } else { %>
                                <p2>Welcome <br>
                                    <fh style="font-size: 20px;"><%= employeeData.firstName %></fh>
                                </p2>
                            <% } %>
                        <% } else { %>
                            <p2>Welcome Guest!</p2>
                        <% } %>
                    </div>
                </div>
            </div>
            <br>
            <div class="side-nav">
                <a href="/admin/notif" class="notif" style="position: relative; border: 0.5px solid lightgray;">
                <i class="fas fa-bell"></i>
                <% if (pendingCount > 0) { %>
                    <span id="badge" class="badge"><%= pendingCount %></span>
                <% } %>
                Notification
            </a>
                    <a href="/admin/ann" class="ann" style="position: relative; border: 0.5px solid lightgray;">
                        <i class="fas fa-circle-exclamation"></i> Announcements
                    </a>
                    <hr>
                    <a href="/admin/das" class="das"><i class="bi bi-bar-chart-fill"></i> Dashboard</a>
                    <a href="/admin/emp" class="active"><i class="fas fa-user-tie"></i> Employees</a>
                    <a href="/admin/dig" class="dig"><i class="fas fa-address-card"></i> My Digital ID</a>
                    <a href="/admin/dir" class="dir"><i class="fa-solid fa-address-book"></i> Directory</a>
                    <a href="/admin/frm" class="frm"><i class="fas fa-file-alt"></i> Forms</a>
            </div>
            

            <div class="logo-nav">
                <img src="/images/logo.png" alt="NEXUS ID Logo">
                <p1>NEXUS ID</p1>
            </div>
        </div>

        <div class="main-frame">
            <div class="sub">
                <div class="ctrl left">
                    <a href="#" class="pbtn" onclick="goBack()"><i class="fa-solid fa-chevron-left"></i>Go Back</a>
                </div>
                <div class="ctrl right">
                    <p1>Update <%= employee.firstName %>'s Account</p1>
                </div>
            </div>
            <form action="/admin/updateEmp/<%= employee.id %>" method="POST"  enctype="multipart/form-data">
                <div class="main-content">
                    <div class="card left">
                        <div class="mCard">
                            <p class="headInfo">Personal Info</p>
                            <hr>
                            <div class="row">
                                <i class="fas fa-person"></i>
                                <div class="field">
                                    <select name="gender" required>
                                        <option value="" disabled>-Select Gender-</option>
                                        <option value="Male" <%= employee.gender === 'Male' ? 'selected' : '' %>>Male</option>
                                        <option value="Female" <%= employee.gender === 'Female' ? 'selected' : '' %>>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <i class="fa-solid fa-cake"></i>
                                <div class="field">
                                    <input type="date" id ="birthday" name="birthday" value="<%= employee.birthday %>">
                                </div>
                            </div>
                            <div class="row">
                                <i class="fa-solid fa-star"></i>
                                <div class="field">
                                    <input type="text" name="nickName" placeholder="Nickname" value="<%= employee.nickName %>">
                                </div>
                            </div>
                            <div class="row">
                                <i class="fa-solid fa-droplet"></i>
                                <div class="field medium">
                                    <select id="bloodType" name="bloodType">
                                        <option value="">--Select Type--</option>
                                        <option value="A+" <%= employee.bloodType === 'A+' ? 'selected' : '' %>>A+</option>
                                        <option value="A-" <%= employee.bloodType === 'A-' ? 'selected' : '' %>>A-</option>
                                        <option value="B+" <%= employee.bloodType === 'B+' ? 'selected' : '' %>>B+</option>
                                        <option value="B-" <%= employee.bloodType === 'B-' ? 'selected' : '' %>>B-</option>
                                        <option value="AB+" <%= employee.bloodType === 'AB+' ? 'selected' : '' %>>AB+</option>
                                        <option value="AB-" <%= employee.bloodType === 'AB-' ? 'selected' : '' %>>AB-</option>
                                        <option value="O+" <%= employee.bloodType === 'O+' ? 'selected' : '' %>>O+</option>
                                        <option value="O-" <%= employee.bloodType === 'O-' ? 'selected' : '' %>>O-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <i class="fas fa-shield-alt icon"></i>
                                <div class="field">
                                    <input type="text" name="sssId" placeholder="SSS Number" value="<%= employee.sssId %>">
                                </div>
                            </div>
                            <div class="row">
                                <i class="fas fa-id-card icon"></i>
                                <div class="field">
                                    <input type="text" name="tinId" placeholder="TIN Number" value="<%= employee.tinId %>">
                                </div>
                            </div>
                            <div class="row">
                                <i class="fas fa-briefcase icon"></i>
                                <div class="field">
                                    <input type="text" name="gsisId" placeholder="GSIS Number" value="<%= employee.gsisId %>">
                                </div>
                            </div>
                            <div class="row">
                                <i class="fas fa-home icon"></i>
                                <div class="field">
                                    <input type="text" name="pagIbig" placeholder="Pag-Ibig Number" value="<%= employee.pagIbig %>">
                                </div>
                            </div>
                            <div class="row">
                                <i class="fas fa-medkit icon"></i>
                                <div class="field">
                                    <input type="text" name="philhealth" placeholder="PhilHealth Number" value="<%= employee.philhealth %>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card right">
                        <div class="top-row" style="flex-direction: column;">

                            <div class="mCard long">
                                <p class="headInfo">Address & Contact Info</p>
                                <hr><br>
                                <div class="row">
                                    <i class="fa-solid fa-house"></i>
                                    <div class="field">
                                        <input type="text" name="streetName" placeholder="Street Name" value="<%= employee.streetName %>">
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fa-solid fa-house"></i>
                                    <div class="field">
                                        <select id="barangay" name="brgyName">
                                        <option value="" disabled selected>--Select Barangay--</option>
                                        <option value="Bagong Sikat" <%= employee.brgyName === 'Bagong Sikat' ? 'selected' : '' %>>Bagong Sikat</option>
                                        <option value="Balante" <%= employee.brgyName === 'Balante' ? 'selected' : '' %>>Balante</option>
                                        <option value="Bantug" <%= employee.brgyName === 'Bantug' ? 'selected' : '' %>>Bantug</option>
                                        <option value="Bical" <%= employee.brgyName === 'Bical' ? 'selected' : '' %>>Bical</option>
                                        <option value="Cabisuculan" <%= employee.brgyName === 'Cabisuculan' ? 'selected' : '' %>>Cabisuculan</option>
                                        <option value="Calabalabaan" <%= employee.brgyName === 'Calabalabaan' ? 'selected' : '' %>>Calabalabaan</option>
                                        <option value="Calisitian" <%= employee.brgyName === 'Calisitian' ? 'selected' : '' %>>Calisitian</option>
                                        <option value="Catalanacan" <%= employee.brgyName === 'Catalanacan' ? 'selected' : '' %>>Catalanacan</option>
                                        <option value="Curva" <%= employee.brgyName === 'Curva' ? 'selected' : '' %>>Curva</option>
                                        <option value="Franza" <%= employee.brgyName === 'Franza' ? 'selected' : '' %>>Franza</option>
                                        <option value="Gabaldon" <%= employee.brgyName === 'Gabaldon' ? 'selected' : '' %>>Gabaldon</option>
                                        <option value="Labney" <%= employee.brgyName === 'Labney' ? 'selected' : '' %>>Labney</option>
                                        <option value="Licaong" <%= employee.brgyName === 'Licaong' ? 'selected' : '' %>>Licaong</option>
                                        <option value="Linglingay" <%= employee.brgyName === 'Linglingay' ? 'selected' : '' %>>Linglingay</option>
                                        <option value="Magtanggol" <%= employee.brgyName === 'Magtanggol' ? 'selected' : '' %>>Magtanggol</option>
                                        <option value="Maligaya" <%= employee.brgyName === 'Maligaya' ? 'selected' : '' %>>Maligaya</option>
                                        <option value="Mangandingay" <%= employee.brgyName === 'Mangandingay' ? 'selected' : '' %>>Mangandingay</option>
                                        <option value="Mapangpang" <%= employee.brgyName === 'Mapangpang' ? 'selected' : '' %>>Mapangpang</option>
                                        <option value="Maragol" <%= employee.brgyName === 'Maragol' ? 'selected' : '' %>>Maragol</option>
                                        <option value="Matingkis" <%= employee.brgyName === 'Matingkis' ? 'selected' : '' %>>Matingkis</option>
                                        <option value="Naglabrahan" <%= employee.brgyName === 'Naglabrahan' ? 'selected' : '' %>>Naglabrahan</option>
                                        <option value="Palusapis" <%= employee.brgyName === 'Palusapis' ? 'selected' : '' %>>Palusapis</option>
                                        <option value="Pandalla" <%= employee.brgyName === 'Pandalla' ? 'selected' : '' %>>Pandalla</option>
                                        <option value="Poblacion East" <%= employee.brgyName === 'Poblacion East' ? 'selected' : '' %>>Poblacion East</option>
                                        <option value="Poblacion North" <%= employee.brgyName === 'Poblacion North' ? 'selected' : '' %>>Poblacion North</option>
                                        <option value="Poblacion South" <%= employee.brgyName === 'Poblacion South' ? 'selected' : '' %>>Poblacion South</option>
                                        <option value="Poblacion West" <%= employee.brgyName === 'Poblacion West' ? 'selected' : '' %>>Poblacion West</option>
                                        <option value="Rang-Ayan" <%= employee.brgyName === 'Rang-Ayan' ? 'selected' : '' %>>Rang-Ayan</option>
                                        <option value="Rizal" <%= employee.brgyName === 'Rizal' ? 'selected' : '' %>>Rizal</option>
                                        <option value="San Andres" <%= employee.brgyName === 'San Andres' ? 'selected' : '' %>>San Andres</option>
                                        <option value="San Antonio" <%= employee.brgyName === 'San Antonio' ? 'selected' : '' %>>San Antonio</option>
                                        <option value="San Felipe" <%= employee.brgyName === 'San Felipe' ? 'selected' : '' %>>San Felipe</option>
                                        <option value="Sapang Cauayan" <%= employee.brgyName === 'Sapang Cauayan' ? 'selected' : '' %>>Sapang Cauayan</option>
                                        <option value="Villa Cuizon" <%= employee.brgyName === 'Villa Cuizon' ? 'selected' : '' %>>Villa Cuizon</option>
                                        <option value="Villa Isla" <%= employee.brgyName === 'Villa Isla' ? 'selected' : '' %>>Villa Isla</option>
                                        <option value="Villa Nati" <%= employee.brgyName === 'Villa Nati' ? 'selected' : '' %>>Villa Nati</option>
                                        <option value="Villa Santos" <%= employee.brgyName === 'Villa Santos' ? 'selected' : '' %>>Villa Santos</option>
                                    </select>                                                                   
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fas fa-phone-alt"></i>
                                    <div class="field">
                                        <input type="text" name="phone" placeholder="Phone Number" value="<%= employee.phone %>">
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fas fa-envelope"></i>
                                    <div class="field">
                                        <input type="email" name="email" placeholder="Email" value="<%= employee.email %>">
                                    </div>
                                </div>
                            </div>

                            <div class="mCard short">
                                <p class="headInfo">Emergency Contact</p>
                                <hr><br>
                                <div class="row">
                                    <i class="fas fa-user"></i>
                                    <div class="field">
                                        <input type="text" name="emergencyContactName" placeholder="Emergency Contact Name" value="<%= employee.eName %>">
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fas fa-home"></i>
                                    <div class="field">
                                        <input type="text" name="emergencyContactAddress" placeholder="Emergency Contact Address" value="<%= employee.eAddress %>">
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fas fa-phone-alt"></i>
                                    <div class="field">
                                        <input type="text" name="emergencyContactNumber" placeholder="Emergency Contact Number" value="<%= employee.ePhone %>">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card right">
                        <div class="mCard">
                            <p class="headInfo">Profile Photo</p>
                            <hr>
                            <div class="row">
                                <div class="field">
                                    <img  height="80px" width="80px" src="<%= employee.userPhoto ? employee.userPhoto : '/images/profileX.jpg' %>" onerror="this.onerror=null; this.src='/images/profileX.jpg';" alt="Profile Picture">
                                    <br>
                                    <input type="file" name="userPhoto">
                                </div>
                            </div>
                        </div>
                        <div class="mCard" style="height: 100%;">
                            <p class="headInfo">Signature</p>
                            <hr>
                            <div class="row">
                                <div class="field">
                                    <img  height="80px" width="200px" src="<%= employee.signature ? employee.signature : '/images/sig1.jpg' %>" onerror="this.onerror=null; this.src='/images/sig1.jpg';" alt="Profile Picture">
                                    <br>
                                    <input type="file" name="signature">
                                </div>
                            </div>
                        </div>
                        <div class="row ctrl" style="padding: 0 20px; justify-content: flex-end;">
                            <button type="submit" id="submit">Save</button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
                
    <script>
        function togglePassword(inputId) {
            const inputField = document.getElementById(inputId);
            const type = inputField.getAttribute('type') === 'password' ? 'text' : 'password';
            inputField.setAttribute('type', type);
        }
    </script>

    <script>
// para sa notif nav
document.getElementById('notifIcon').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent default link behavior
    const notifNav = document.querySelector('.notif-nav');
    const rect = this.getBoundingClientRect();
    const distanceBelow = 5;

    if (notifNav.style.display === 'none' || notifNav.style.display === '') {
        notifNav.style.display = 'flex'; // Show the notif-nav
        notifNav.style.right = '8px'; // Align to the right edge
        notifNav.style.top = `${rect.bottom + distanceBelow}px`; // Position below the icon
        this.classList.add('notif-icon-active'); // Add active class
    } else {
        notifNav.style.display = 'none'; // Hide the notif-nav
        this.classList.remove('notif-icon-active'); // Remove active class
    }
});

// Optional: Close the info-nav when clicking outside
document.addEventListener('click', (event) => {
    const notifNav = document.querySelector('.notif-nav');
    if (!event.target.closest('#notifIcon') && !notifNav.contains(event.target)) {
        notifNav.style.display = 'none'; // Hide the info-nav
        document.getElementById('notifIcon').classList.remove('notif-icon-active'); // Remove active class
    }
});
</script>




<script>
    document.getElementById('userIcon').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent default link behavior
    const userOption = document.querySelector('.userOption');
    const rect = this.getBoundingClientRect();
    const distanceBelow = 9;

    if (userOption.style.display === 'none' || userOption.style.display === '') {
        userOption.style.display = 'flex'; // Show the notif-nav
        userOption.style.left = '8px'; // Align to the right edge
        userOption.style.top = `${rect.bottom + distanceBelow}px`; // Position below the icon
        this.classList.add('user-icon-active'); // Add active class
    } else {
        userOption.style.display = 'none'; // Hide the notif-nav
        this.classList.remove('user-icon-active'); // Remove active class
    }
});

// Optional: Close the info-nav when clicking outside
document.addEventListener('click', (event) => {
    const userOption= document.querySelector('.userOption');
    if (!event.target.closest('#userIcon') && !userOption.contains(event.target)) {
        userOption.style.display = 'none'; // Hide the info-nav
        document.getElementById('userIcon').classList.remove('user-icon-active'); // Remove active class
    }
});
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script>
    function showResetFrame() {
        document.querySelector('.resetPass-frame').style.display = 'flex';
    }

    function hideResetFrame() {
        document.querySelector('.resetPass-frame').style.display = 'none';
    }

    function togglePassword(inputId) {
        const inputField = document.getElementById(inputId);
        const type = inputField.getAttribute('type') === 'password' ? 'text' : 'password';
        inputField.setAttribute('type', type);
    }
</script>
<script src="script.js"></script>     
</body>
</html>
