<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.0/qrious.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>NEXUS EMPLOYEE</title>
    <style>
        .main-content {
            overflow: hidden;
            background-color: transparent;
            background-color: rgb(244, 245, 246);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 18px 64px;
            display: block;
            font-family: 'poppins', sans-serif;
            position: relative;
        }
        .rowCard {
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 98%;
            width: 100%;
            border-radius: 20px;
            gap: 15px;
            font-family: 'poppins', sans-serif;
        }
        .colCard {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 20px;
            gap: 15px;
            font-family: 'poppins', sans-serif;
        }
        .idCard.small {
            height: calc(900px * 0.6);
            width: calc(600px * 0.6);
            border: 1px solid green;
            border-radius: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            font-family: 'poppins', sans-serif;
            padding: 20px;
            text-align: center;
        }
        .idCard.small p1, .idCard.large p1 {
            font-size: 22px;
        }
        .idCard.large {
            height: calc(950px * 0.6);
            width: calc(650px * 0.6);
            border: 1px solid green;
            border-radius: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            font-family: 'poppins', sans-serif;
            padding: 20px;
            text-align: center;
        }
        .rowCard.viewS, .rowCard.viewL {
            height: auto;
            justify-content: flex-start;
            width: 100%;
        }
        #editRequest, #qrCode, #biometrics, #ctrlWidget {
            box-shadow: 0 4px 6px lightgray;
            padding: 0;
        }
        #editRequest {
            background-color: white;
            box-shadow: 0 4px 6px lightgray;
            gap: 0;
            padding: 35px;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
        }
        #qrCode {
            background-color: white;
        }
        #printPiD {
            background-color: white;
            box-shadow: 0 4px 6px lightgray;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            padding: 0;
        } 
        #biometrics {
            background-color: white;
            padding: 5px;
        }
        #ctrlWidget {
            background-color: white;
        }
        #qrImg {
            height: 100px;
            width: 100px;
            border-radius: 8px;
        }
        #idInfo {
            overflow-y: auto;
            justify-content: flex-start;
            padding: 20px;
            gap: 0;
        }
        #smallFront {
            background-image: url('/images/idBg.png');
            background-size: 100% 100%;
        }
        #largeFront {
            background-image: url('/images/idBg2.png');
            background-size: 100% 100%;
        }
        #smallBack {
            background-image: url('/images/idBg3.png');
            background-size: 100% 100%;
        }
        #largeBack {
            background-image: url('/images/idBg4.png');
            background-size: 100% 100%;
        }
        #printPiD img {
            width: 50%;
            height: auto;
            border-radius: 16px;
        }
        #printPiD .row.ctrl {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
        .row.ctrl {
            display: flex;
            width: 90%;
            justify-content: center;
            align-items: center;
        }
        .row.ctrl button {
            padding: 8px 16px;
            color: #006400;
            text-align: center;
            border-radius: 20px;
            border: 0.5px solid lightgray;
            font-size: 12px;
            text-decoration: none;
            background-color: white;
            max-width: 60%;
            width: 60%;
        }
        .uphCard {
            height: 70px;
            width: 70px;
            font-family: 'poppins', sans-serif;
        }
        .uphCard2 {
            height: 150px;
            width: 150px;
            font-family: 'poppins', sans-serif;
        }
        .uphCard img {
            width: 100%;
            height: 100%;
            border-radius: 120px;
        }
        .uphCard2 img {
            width: 100%;
            height: 100%;
            border-radius: 120px;
        }
        hr {
            border: 0.5px solid lightgray;
            width: 90%;
        }
        .green {
            color: green;
            font-weight: normal;
        }
        table {
            font-weight: 500;
            padding: 0;
        }
        ph {
            font-size: 32px;
        }
        p.txtInfo {
            font-size: 12px;
            margin: 0;
            width: 100%;
            padding: 5px 0;
        }
        p.txtInfo i {
            font-size: 10px;
        }
        p.headInfo {
            font-size: 14px;
            font-weight: 500;
            color: green;
            width: 100%;
        }
        .headInfo i {
            color: green;
        }
        p.txtInfo.green {
            color: green;
        }
        .txtInfo a {
            text-decoration: none;
            color: white;
            background-color: orangered;
            padding: 8px 12px;
            border-radius: 18px;
            transition: all 0.6s ease; /* Smooth transition */
        }
        #ctrlNav {
            width: 380px;
            height: 400px;
            max-height: 500px;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 3%;
            display: flex;
            padding: 25px;
            box-shadow: 0 4px 4px lightgray;
            border-radius: 20px;
            flex-direction: column;
            bottom: 13%;
        }
        #sigNav {
            width: 380px;
            height: 120px;
            max-height: 500px;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 3%;
            display: flex;
            padding: 25px;
            border-radius: 20px;
            flex-direction: column;
            background-color: white;
        }
        #requestForm {
            background-color: white;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 30px 60px;
            box-shadow: 0 4px 6px lightgray;
            position: absolute;
            z-index: 10;
            width: 500px;
            height: 95%;
            display: none;
            right: 20px;
            top: 10px;
            border: 1px solid black;
        }
        #requestForm .row.ctrl {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%;
        }
        #requestButton {
            background-color: white;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 10px;
            box-shadow: 0 4px 6px lightgray;
        }
        .printId {
            display: none;
            gap: 5px;
            justify-content:center;
            align-items: center;
            background-color: white;
            position: absolute;
            padding: 20px;
            z-index: 200;
            box-shadow: 0 4px 6px lightgray;
            flex-direction: column;
            border-radius: 12px;
            border: 1px solid lightgray;
            width: 380px;
            height: 430px;
            max-height: 500px;
            right: 3%;
            top: 3%;
        }
        

        @media print {
    body * {
        display: none; /* Hide all elements by default */
    }
    .rowCard.viewS {
        -webkit-print-color-adjust: exact; /* Chrome/Safari */
        print-color-adjust: exact; /* Firefox */
    }
    .rowCard.viewL {
        -webkit-print-color-adjust: exact; /* Chrome/Safari */
        print-color-adjust: exact; /* Firefox */
        gap: 0;
        margin: 0;
        padding: 0;
    }
    /* Show only the small ID cards */
    .idCard.small, .idCard.small * {
        display: flex; /* Show small ID card and its contents */
        -webkit-print-color-adjust: exact; /* Chrome/Safari */
        print-color-adjust: exact; /* Firefox */
        margin: 0 auto; /* Reduce margin to decrease space between idCards */
        flex-direction: column;
    }

    /* Specific styles for smallFront */
    #smallFront {
        background-image: url('/images/idBg.png'); /* Set background image for small front */
        background-size: cover; /* Ensure it covers the div */
        height: calc(900px * 0.6);
        width: calc(600px * 0.6);
            transform: scale(0.6); /* Scale down the idCard */
            transform-origin: top left; /* Ensure scaling is from the top left */
            margin: 0 auto; /* Reduce margin to decrease space between idCards */
            display: flex;
    }

    /* Specific styles for smallBack */
    #smallBack {
        background-image: url('/images/idBg3.png'); /* Set background image for small back */
        background-size: cover; /* Ensure it covers the div */
        height: calc(900px * 0.6);
        width: calc(600px * 0.6);
            transform: scale(0.6); /* Scale down the idCard */
            transform-origin: top left; /* Ensure scaling is from the top left */
            margin: 0 auto; /* Reduce margin to decrease space between idCards */
    }
    .idCard.large, .idCard.large * {
        display: flex; /* Show small ID card and its contents */
        -webkit-print-color-adjust: exact; /* Chrome/Safari */
        print-color-adjust: exact; /* Firefox */
        margin: 0; /* Reduce margin to decrease space between idCards */
        flex-direction: column;
    }

    /* Specific styles for smallFront */
    #largeFront {
        background-image: url('/images/idBg2.png'); /* Set background image for small front */
        background-size: cover; /* Ensure it covers the div */
        height: calc(900px * 0.6);
        width: calc(800px * 0.85);
            transform: scale(0.8); /* Scale down the idCard */
            transform-origin: top left; /* Ensure scaling is from the top left */
            margin: 0; /* Reduce margin to decrease space between idCards */
            display: flex;
    }

    /* Specific styles for smallBack */
    #largeBack {
        background-image: url('/images/idBg4.png'); /* Set background image for small back */
        background-size: cover; /* Ensure it covers the div */
        height: calc(900px * 0.6);
        width: calc(800px * 0.85);
            transform: scale(0.8); /* Scale down the idCard */
            transform-origin: top left; /* Ensure scaling is from the top left */
            margin: 0; /* Reduce margin to decrease space between idCards */
    }
}
    </style>
</head>
<body>
    <div class="container">
        <div class="userOption" style="display: none;">
            <a href="/admin/user">Profile <i class="fa-solid fa-user"></i></a><hr>
            <a href="/admin/welcome">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
        <div class="notif-nav" style="display: none;">
            <iframe class="notif-frame" src="/admin/notif" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="info-nav" style="display: none;">
            <iframe class="info-frame" src="/admin/hotline" width="100%" height="100%" frameborder="0"></iframe>
        </div>

        <div class="side-frame">
            <div class="head-nav" style="margin-top: 0;">
                <div class="nav" style="justify-content: flex-start; width: 100%;">               
                    <div class="pnav" style="align-items: flex-start;">
                    <a href="#" id="userIcon" class="userIcon" style=" border: 1px solid gray; border-radius: 50%; box-shadow: none;">
                        <img src="<%= employeeData.userPhoto ? employeeData.userPhoto : '/images/profileX.jpg' %>" onerror="this.onerror=null; this.src='/images/profileX.jpg';" alt="Profile Picture">
                    </a>
                    </div>
                    <div class="snav">
                        <% if (employeeData) { %>
                            <% if (employeeData.role === 'Admin') { %>
                                <p2>Welcome Admin <br>
                                    <fh style="font-size: 20px;"><%= employeeData.firstName %></fh>
                                </p2>
                            <% } else if (employeeData.role === 'HR') { %>
                                <p2>Welcome HR <br>
                                    <fh style="font-size: 20px;"><%= employeeData.firstName %></fh>
                                </p2>
                            <% } else { %>
                                <p2>Welcome <br>
                                    <fh style="font-size: 20px;"><%= employeeData.firstName %></fh>
                                </p2>
                            <% } %>
                        <% } else { %>
                            <p2>Welcome Guest!</p2>
                        <% } %>
                    </div>
                </div>
            </div>
            <br>
            <div class="side-nav">
                
                <% if (user.role === 'HR' || user.role === 'Admin') { %>
                    <a href="/admin/notif" class="notif" style="position: relative; border: 0.5px solid lightgray;">
                    <i class="fas fa-bell"></i>
                    <% if (pendingCount > 0) { %>
                        <span id="badge" class="badge"><%= pendingCount %></span>
                    <% } %>
                    Notification
                </a>
                    <% } %>
                    <a href="/admin/ann" class="ann" style="position: relative; border: 0.5px solid lightgray;">
                        <i class="fas fa-circle-exclamation"></i> Announcements
                    </a>
                    <hr>
                    <% if (user.role === 'HR' || user.role === 'Admin') { %>
                    <a href="/admin/das" class="das"><i class="bi bi-bar-chart-fill"></i> Dashboard</a>
                    <a href="/admin/emp" class="emp"><i class="fas fa-user-tie"></i> Employees</a>
                    <% } %>
                    <a href="/admin/dig" class="active"><i class="fas fa-address-card"></i> My Digital ID</a>
                    <a href="/admin/dir" class="dir"><i class="fa-solid fa-address-book"></i> Directory</a>
                    <a href="/admin/frm" class="frm"><i class="fas fa-file-alt"></i> Forms</a>
            </div>

            <div class="logo-nav">
                <img src="/images/logo.png" alt="NEXUS ID Logo">
                <p1>NEXUS ID</p1>
            </div>
        </div>


        <div class="main-frame">
            <div class="sub">
                <div class="ctrl left">
                    <ph>My Digital ID</ph>
                </div>
                <div class="ctrl right">
                    <% if (user.role === 'Admin') { %>
                        Hi Admin! Let's print your physical ID
                        &nbsp;
                        <a href="javascript:void(0);" class="sbtn" onclick="printIdCards()" style="background-color: white; color: black;">
                            <i class="fa-solid fa-print" style="color: inherit;"></i> Small ID
                        </a>
                        |
                        <a href="javascript:void(0);" class="sbtn" onclick="printIdCards('large')" style="background-color: white; color: black;">
                            <i class="fa-solid fa-print" style="color: inherit;"></i> Large ID
                        </a>
                        |
                        <a href="javascript:void(0);" class="sbtn" onclick="printIdCards('all')" style="background-color: white; color: black;">
                            <i class="fa-solid fa-print" style="color: inherit;"></i> Both ID
                        </a>
                    <% } %>
                    <% if (user.role !== 'Admin') { %>
                    Need Physical ID? &nbsp;
                    <a href="javascript:void(0);" class="sbtn" id="printIcon">Request for Print</a>
                    | 
                    <a href="/admin/digStat" class="" style="background-color: white; color: black; border: 0.5px solid lightgray;">TRACK REQUEST</a>
                    <% } %>
                </div>
            </div>

            <div class="main-content">

                <form class="printId" style="text-align: center;" method="POST" action="/admin/submit-print-request">
                    <fh> ID Card Print <br> Request Form </fh>
                
                     <hr>
                    <div class="row" style="width: 70%;">
                        <div class="field">
                            <select name="idType" id="idType" required>
                                <option value="" disabled selected>Select Size</option>
                                <option value="small">Small ID</option>
                                <option value="large">Large ID</option>
                                <option value="large">Both Size</option>
                            </select>
                        </div>
                    </div>
                
                    <div class="row" style="width: 70%;">
                        <label for="remarks">Leave a message:</label>
                    </div>
                
                    <div class="row" style="width: 70%;">
                        <div class="field">
                            <textarea id="remarks" name="remarks" rows="6" style="resize: none; border-radius: 10px; padding: 10px; width: 100%;" placeholder="Enter your remarks here..."></textarea>
                        </div>
                    </div>
                
                    <div class="row ctrl">
                        <button class="sbtn" type="submit" style="background-color: green; color: white;">
                            Send <i class="fa-solid fa-paper-plane" style="color: inherit;"></i>
                        </button>
                    </div>
                </form>
                
                
                
                <% if (user.role !== 'HR') { %>
                <div class="row ctrl" id="ctrlNav" style="background-color: white;">
                    <p1 style="text-align: center; font-weight: 500;">
                        Keep your information<br>Up-To-Date!
                    </p1>
                    <p3>Review and Update your details</p3>
                    <a href="/admin/user" class="sbtn" style="background-color: white; color: green;">Proceed to Profile Page</a>
                    <br><hr>
                    <p2>Take Note!</p2>
                    <p3 style="text-align: center; font-weight: normal;">
                        Personal Details (First Name, Middle Name, Last Name)
                         and Employment Information (ID Number, Designated Office, Position, Employment Type) cannot be changed without approval.
                        Send a <strong>request to HR.</strong>
                    </p3>
                    <div class="row ctrl">
                        <button class="pbtn" style="cursor: pointer;"> Request for Update </button>
                    </div>
                </div>
                <% } %>
                
                <div class="row ctrl" id="sigNav">
                    <p1 style="text-align: center; font-weight: 500;">
                        Upload Signature
                    </p1>
                    <div class="row ctrl">
                        <a href="/admin/digSign"  style="background-color: white; color: green;" class="sbtn" id ="" style="cursor: pointer;"> proceed </a>
                    </div>
                </div>
                

                <div class="colCard" id="requestForm">
                    <form action="/admin/insertChangeRequest" method="POST"
                    style="width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center;">
                        <div class="row">
                            <div class="field" style="align-items: flex-end;">
                                <i class="fa-solid fa-xmark" id="closeForm"></i>
                            </div>
                        </div>
                        <fh style="text-align: center;">REQUEST FORM</fh>
                        <br><hr><br>
                        <div class="row">
                            <div class="field">
                                <p2>This update is for?</p2>
                                <select id="updateSelect" name="changeFor">
                                    <option value="">-Select-</option>
                                    <option value="personal">Personal Details</option>
                                    <option value="employment">Employment Status</option>
                                </select>
                            </div>
                        </div>
                        <br>

                        <span id="changePersonal" style="display:none; flex-direction: column; width: 100%;">
                            <div class="row">
                                <div class="field">
                                    <p2>First Name</p2>
                                    <input type="text" name="firstName">
                                </div>
                                <div class="field">
                                    <p2>Middle Name</p2>
                                    <input type="text" name="middleName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="field">
                                    <p2>Last Name</p2>
                                    <input type="text" name="lastName">
                                </div>
                                <div class="field">
                                    <p2>Ext Name</p2>
                                    <input type="text" name="extName">
                                </div>
                            </div>
                        </span>
                        
                        <span id="changeEmployment" style="display:none; flex-direction: column;">
                            <div class="row">
                                <div class="field" style="display: none;">
                                    <p2>New ID Number</p2>
                                    <input type="text" name="userId">
                                </div>
                                <div class="field">
                                    <p2>New Employment Type</p2>
                                    <select name="type">
                                        <option value="">--Select Type--</option>
                                        <option value="Elected">Elected</option>
                                        <option value="Casual">Casual</option>
                                        <option value="Co-Term">Co-term</option>
                                        <option value="Job Order">Job Order</option>
                                        <option value="Permanent">Permanent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="field">
                                    <p2>New Office</p2>
                                    <select name="office">
                                        <option value="" disabled selected>--Select Office--</option>
                                        <option value="City Administrator’s Office">City Administrator’s Office</option>
                                        <option value="City Accounting Office">City Accounting Office</option>
                                        <option value="City Assessor’s Office">City Assessor’s Office</option>
                                        <option value="City Budget Office">City Budget Office</option>
                                        <option value="City Business Permit and Licensing Office">City Business Permit and Licensing Office</option>
                                        <option value="City Civil Registrar’s Office">City Civil Registrar’s Office</option>
                                        <option value="City Cooperative Development Office and Allied Services">City Cooperative Development Office and Allied Services</option>
                                        <option value="City Disaster Risk Reduction and Management Office">City Disaster Risk Reduction and Management Office</option>
                                        <option value="City Economic Enterprise Management Office">City Economic Enterprise Management Office</option>
                                        <option value="City Engineering Office">City Engineering Office</option>
                                        <option value="City Environment and Natural Resources Office">City Environment and Natural Resources Office</option>
                                        <option value="City General Services Office">City General Services Office</option>
                                        <option value="City Health Office">City Health Office</option>
                                        <option value="City Human Resource Management Office">City Human Resource Management Office</option>
                                        <option value="City Information Office">City Information Office</option>
                                        <option value="City Information and Communications Technology Office">City Information and Communications Technology Office</option>
                                        <option value="City Library">City Library</option>
                                        <option value="City Motor Pool">City Motor Pool</option>
                                        <option value="City Planning and Development Office">City Planning and Development Office</option>
                                        <option value="City Population Office">City Population Office</option>
                                        <option value="City Public Employment Service Office">City Public Employment Service Office</option>
                                        <option value="City Public Order and Safety Office">City Public Order and Safety Office</option>
                                        <option value="City Social Welfare and Development Office">City Social Welfare and Development Office</option>
                                        <option value="City Tourism Office">City Tourism Office</option>
                                        <option value="City Traffic Management Unit">City Traffic Management Unit</option>
                                        <option value="City Treasurer’s Office">City Treasurer’s Office</option>
                                        <option value="City Veterinary / City Agriculture Office">City Veterinary / City Agriculture Office</option>
                                        <option value="Community Affairs Office">Community Affairs Office</option>
                                        <option value="Local Economic Investment and Promotion Office">Local Economic Investment and Promotion Office</option>
                                        <option value="Local Youth Development Office">Local Youth Development Office</option>
                                        <option value="Ospital ng Lungsod Agham ng Muñoz (OsLAM)">Ospital ng Lungsod Agham ng Muñoz (OsLAM)</option>
                                        <option value="Sangguniang Panlungsod">Sangguniang Panlungsod</option>
                                        <option value="SP Secretary">SP Secretary</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="field">
                                    <p2>New Position</p2>
                                    <input type="text" name="position">
                                </div>
                            </div>
                        </span>

                        <br>
                        <div class="row">
                            <div class="field">
                                <p2>Reason/Remarks</p2>
                                <textarea rows="3" style="border-radius: 8px; padding: 10px;" name="remarks"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row ctrl">
                            <button type="submit" style="background-color: #006400; color: white;">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="rowCard viewS">
                    <div class="idCard small" id="smallFront">
                        <span id="brH" style="margin: 65px;"></span>
                        <div class="uphCard2">
                        <img src="<%= employee.userPhoto ? employee.userPhoto : '/images/profileX.jpg' %>"  style="border-radius: 5px;" onerror="this.onerror=null; this.src='/images/profileX.jpg';" alt="Profile Picture">
                        </div>
                        <br><br><br>
                        <p1><%= employee.firstName %> <%= employee.middleName ? employee.middleName.charAt(0) + '.' : '' %> <%= employee.lastName %> <%= employee.extName %></p1>
                        <p3><%= employee.userId %></p3>
                        <span style="margin: 5px;"></span>
                        <p1><%= employee.position %></p1>
                        <hr>
                        <p3><%= employee.office %></p3>
                    </div>
                    <div class="idCard small" id="smallBack">
                        <img src="<%= employee.signature ? employee.signature : '/images/sig1.jpg' %>" style="max-width: 90px; height: 40px;">
                        <hr>
                        <p3>signature</p3>
                        <span style="margin: 5px;"></span>
                        <div style="display: flex; align-items: flex-start; flex-direction: column; width: 100%;">
                            <p3 style="text-align: left;">Address: <%= employee.streetName %> <%= employee.brgyName %>, Science City of Munoz</p3>
                            <p3>Contact Number: <%= employee.phone %></p3>
                            <p3>Birthday: <%= new Date(employee.birthday).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></p3>
                            <p3>Blood Type: <%= employee.bloodType %></p3>
                            <p3>TIN: <%= employee.tinId%></p3>
                            <p3>GSIS No.: <%= employee.gsisId %></p3>
                            <p3>PAG-IBIG No.:<%= employee.pagIbig%></p3>
                            <p3>SSS No.:<%= employee.sssId %></p3>
                            <p3>Philhealth No.:<%= employee.philhealth %></p3>
                        </div>
                        <div style="display: flex; align-items: flex-start; justify-content: center; flex-direction: column; width: 100%;">
                            <p style="background-color: black; color: white; width: 100%; padding: 5px 0;">PERSON TO NOTIFY IN CASE OF EMERGENCY:</p>
                            <p3>Name: <%= employee.eName %></p3>
                            <p3>Contact No.: <%= employee.ePhone %></p3>
                            <p3 style="text-align: left;">Address: <%= employee.address %></p3>
                        </div>
                        <span style="display: flex; justify-content: center; align-items: center; width: 100%;">
                            <img src="<%= qrCodeUrl %>" style="max-width: 110px; height: auto; border-radius: 10px;"
                             id="qrImg" onerror="this.onerror=null; this.src='/images/defaultQrCode.jpg';">
                        </span>
                        <br>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

                <div class="rowCard viewL">
                    <div class="idCard large" id="largeFront">
                        <span style="margin: 60px;"></span>
                        <div class="uphCard" style="height: 200px; width: 200px;">
                            <img src="<%= employee.userPhoto ? employee.userPhoto : '/images/profileX.jpg' %>"  style="border-radius: 50%;" onerror="this.onerror=null; this.src='/images/profileX.jpg';" alt="Profile Picture">
                            </div>
                            <br>
                            <p1 style="color: orangered; font-size: 32px;"><%= employee.nickName %></p1>
                            <p1><%= employee.firstName %> <%= employee.middleName ? employee.middleName.charAt(0) + '.' : '' %> <%= employee.lastName %> <%= employee.extName %></p1>
                            <p3><%= employee.userId %></p3>
                            <span style="margin: 5px;"></span>
                            <p1><%= employee.position %></p1>
                            <hr>
                            <p3><%= employee.office %></p3>
                    </div>
                    <div class="idCard large" id="largeBack">
                        <img src="<%= employee.signature ? employee.signature : '/images/sig1.jpg' %>" style="max-width: 90px; height: 40px;">
                        <hr>
                        <p3>signature</p3>
                        <span style="margin: 2px;"></span>
                        <div style="display: flex; align-items: flex-start; flex-direction: column; width: 100%;">
                            <p3 style="text-align: left;">Address: <%= employee.streetName %> <%= employee.brgyName %>, Science City of Munoz</p3>
                            <p3>Contact Number: <%= employee.phone %></p3>
                            <p3>Birthday: <%= new Date(employee.birthday).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: '2-digit' }) %></p3>
                            <p3>Blood Type: <%= employee.bloodType %></p3>
                            <p3>TIN: <%= employee.tinId%></p3>
                            <p3>GSIS No.: <%= employee.gsisId %></p3>
                            <p3>PAG-IBIG No.:<%= employee.pagIbig%></p3>
                            <p3>SSS No.:<%= employee.sssId %></p3>
                            <p3>Philhealth No.:<%= employee.philhealth %></p3>
                        </div>
                        <div style="display: flex; align-items: flex-start; justify-content: center; flex-direction: column; width: 100%;">
                            <p style="background-color: black; color: white; width: 100%; padding: 5px 0;">PERSON TO NOTIFY IN CASE OF EMERGENCY:</p>
                            <p3>Name: <%= employee.eName %></p3>
                            <p3>Contact No.: <%= employee.ePhone %></p3>
                            <p3 style="text-align: left;">Address: <%= employee.address %></p3>
                        </div>
                        <img src="<%= qrCodeUrl %>" style="max-width: 110px; height: auto; border-radius: 10px;" id="qrImg">
                        <br>
                    </div>
                </div>

            </div>

    </div>

    
    <script>
        document.getElementById('updateSelect').addEventListener('change', function() {
            // Hide all sections initially
            document.getElementById('changePersonal').style.display = 'none';
            document.getElementById('changeEmployment').style.display = 'none';
            
            // Show the selected section
            if (this.value === 'personal') {
                document.getElementById('changePersonal').style.display = 'flex';
            } else if (this.value === 'employment') {
                document.getElementById('changeEmployment').style.display = 'flex';
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const requestUpdateButton = document.querySelector('.pbtn'); // Button to request update
            const requestForm = document.getElementById('requestForm'); // Form to show
            const requestButton = document.getElementById('requestButton'); // Form to show
            const closeFormButton = document.getElementById('closeForm'); // Close button
    
            // Show the request form when the button is clicked
            requestUpdateButton.addEventListener('click', function() {
                requestForm.style.display = 'flex'; // Show the form
                requestButton.style.display = 'none';
            });
    
            // Hide the request form when the xmark icon is clicked
            closeFormButton.addEventListener('click', function() {
                requestForm.style.display = 'none'; // Hide the form
                requestButton.style.display = 'flex';
            });
        });
    </script>
    
<script>
    document.getElementById('userIcon').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent default link behavior
    const userOption = document.querySelector('.userOption');
    const rect = this.getBoundingClientRect();
    const distanceBelow = 9;

    if (userOption.style.display === 'none' || userOption.style.display === '') {
        userOption.style.display = 'flex'; // Show the notif-nav
        userOption.style.left = '8px'; // Align to the right edge
        userOption.style.top = `${rect.bottom + distanceBelow}px`; // Position below the icon
        this.classList.add('user-icon-active'); // Add active class
    } else {
        userOption.style.display = 'none'; // Hide the notif-nav
        this.classList.remove('user-icon-active'); // Remove active class
    }
});

// Optional: Close the info-nav when clicking outside
document.addEventListener('click', (event) => {
    const userOption= document.querySelector('.userOption');
    if (!event.target.closest('#userIcon') && !userOption.contains(event.target)) {
        userOption.style.display = 'none'; // Hide the info-nav
        document.getElementById('userIcon').classList.remove('user-icon-active'); // Remove active class
    }
});
</script>

<script>
    // Get the button and the form elements
    const printIcon = document.getElementById('printIcon');
    const printIdForm = document.querySelector('.printId');

    // Add click event listener to the button
    printIcon.addEventListener('click', function() {
        // Toggle the display of the form
        if (printIdForm.style.display === 'none' || printIdForm.style.display === '') {
            printIdForm.style.display = 'flex';  // Show the form
            printIcon.innerHTML = 'Close Form';  // Change button text to "Cancel"
        } else {
            printIdForm.style.display = 'none';  // Hide the form
            printIcon.innerHTML = 'Request for Print';  // Revert button text to original
        }
    });
</script>

<script>
    // Generic function to print selected sections
    function printIdCards(type) {
        let sections;
        
        // Select sections based on the type
        if (type === 'all') {
            // Select both .viewS and .viewL
            sections = document.querySelectorAll('.rowCard.viewS, .rowCard.viewL');
        } else if (type === 'large') {
            // Select only .viewL
            sections = document.querySelectorAll('.rowCard.viewL');
        } else {
            // Select only .viewS (default behavior)
            sections = document.querySelectorAll('.rowCard.viewS');
        }

        let printContent = '';

        // Loop through the selected sections and accumulate their outerHTML
        sections.forEach(section => {
            printContent += section.outerHTML;
        });

        const originalContent = document.body.innerHTML;

        // Temporarily replace body content with selected print sections
        document.body.innerHTML = printContent;

        // Open print dialog
        window.print();

        // Restore original content after printing
        setTimeout(() => {
            document.body.innerHTML = originalContent;
            window.location.reload(); // Reload the page to reset (optional)
        }, 0);
    }
</script>


<script src="/script.js"></script>     
</body>
</html>
